.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfplan
tfplan
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

*.tfvars
!terraform.tfvars.example

*.test

.DS_Store
.vscode/
.idea/

